.profile {
  display: flex;
  margin: 40px auto 47px;
  max-width: 880px;
  min-height: 120px;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    margin-bottom: 36px;
  }
}
