.popup__close-button_type_image {
  top: -55px;
  right: -40px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .popup__close-button_type_image {
    top: -45px;
    right: 0;
  }
}
