.auth__login{
    width: 100%;
    min-height: 17px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: "Inter", "Arial", serif;
    font-style: normal;
    cursor: pointer;
}

.auth__login:hover{
    opacity: 0.6;
}